.photo{
    width:30%;
    min-width:300px;
    max-width:500px;
    position:absolute;
}

.position1{
    top:10vw;
    right:20%;
}

.photo.position2{
    top:25vw;
    right:10%;
    width:16%;
    min-width:300px;
    max-width:500px;
}